
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
    
                
                <h2 class="mt-5">Live video captions</h2>
                <form method="post" action="{{ url_for('tasks') }}">
                <input type="submit" value="Stop/Start" name="stop" />
                
                <input type="submit" value="Start/Stop Recording" name="rec" />
                </form>
                <img src="{{ url_for('video_feed') }}" height="80%">
                <h3 style="font-family:courier;">Instructions:</h3>
                
            </div>
        </div>
    </div>
    </body>